@import "variable";

.hero-title {
  font-size: $fs-title;
  letter-spacing: 65px;
  text-transform: uppercase;
  font-weight: $font-black;
  filter: drop-shadow(0 0 71px rgba(0, 0, 0, 0.39));      
}

.hero-subtitle {
  font-size: $fs-title-2;
  letter-spacing: 11px;
  font-weight: $font-black;
}


/* NAV */

.main-nav {
  font-size: $fs-nav;
  letter-spacing: 2px;
}

/* cards */

.card-title {
  font-weight: $font-bold;
  font-size: $fs-base;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.card-text {
  margin-top: -20px;
  font-size: $fs-standard;
  letter-spacing: 1px;
  font-weight: $font-regular;
  opacity: 0.9;
}

@media (max-width: $bp-desktop) {
  .hero-title {
    font-size: 72px;
    letter-spacing: 0.28em;
  }

  .hero-subtitle {
    font-size: 16px;
    margin-top: 10px;
  }

  .card-title {
    font-size: 34px;
    letter-spacing: 0.18em;
  }

  .card-text {
    font-size: 18px;
  }
}

@media (max-width: $bp-tablet) {
  .main-nav {
    font-size: 14px;
  }

  .hero-title {
    font-size: 40px;
    letter-spacing: 0.3em;
    text-align: center;
  }

  .hero-subtitle {
    font-size: 12px;
    transform: none;
    margin-top: 50px;
  }

  .card-title {
    font-size: 28px;
    line-height: 1.2;
  }

  .card-text {
    font-size: 16px;
    line-height: 1.5;
  }

}